.popup__close-button {
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../../images/close-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  width: 58px;
  height: 58px;
  transition: opacity .2s ease-in-out;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 688px) {
  .popup__close-button {
    right: 15px;
    width: 36px;
    height: 36px;
  }
}